name: Deploy to BunnyCDN
on: 
  push:
  workflow_dispatch:
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Upload to BunnyCDN
        uses: ayeressian/bunnycdn-storage-deploy@v2.2.5
        with:
          source: "dist" 
          storageZoneName: "bunny-bulk-store1-sydney"
          storageEndpoint: "syd.storage.bunnycdn.com"
          storagePassword: "3fb2672b-6d01-4d3a-b4beb456eb2a-c4ec-4507"
          accessKey: "${{ secrets.BUNNY_ACCESS_KEY }}"
          upload: "true"
      
      - name: Purge Cache
        run: |
            curl --request POST \
            --url https://api.bunny.net/pullzone/5179972/purgeCache \
            --header 'AccessKey: ${{ secrets.BUNNY_ACCESS_KEY }}'
